<web-app>
 <display-name> talk engine </display-name>
 <servlet>
   <servlet-name>Console</servlet-name>
   <servlet-class>com.example.p2.servlet.ConsoleServlet</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>Console</servlet-name>
   <url-pattern>/console/*</url-pattern>
 </servlet-mapping>
</web-app>
